@light-gray: #ECECEC;
@dark-gray: #444444;
@width-y-axis: 40px;
@height-x-axis: 40px;
@width-chart: ~"calc(100% - 40px)";
@height-chart: ~"calc(100% - 40px)";

div.easychart {
	cursor: crosshair;
	margin: 0;
	padding: 0;
	position: relative;
}

div.easychart {
	svg.chart,div.annotation-layer {
		position: absolute;
		top: 0;
		right: 0;
		width: @width-chart;
		height: @height-chart;
	}
}

div.easychart {
	svg.chart {
		z-index: 1;
		
		path {
			vector-effect: non-scaling-stroke;
		}
		
		g.series {
		}
		
		g.series path.curve {
			fill: none;
			stroke-width: 1px;
		}
		
		path.vertical-line-marker {
			stroke: black;
			stroke-opacity: 0;
			stroke-width: 1px;
			
			&.visible {
				stroke-opacity: 0.3;
			}
		}
		
		path.y-line {
			stroke: black;
			stroke-opacity: 0.2;
			stroke-width: 1px;
			fill: none;
		}

	}
}

div.easychart {

	div.annotation-layer {
		
		z-index: 2;
		font-size: 80%;
		
		.annotation {
			padding: 0.2em 0.5em;
			border-radius: 0.2em;
		}
		
		div.vertical-annotation {
			position: absolute;
			visibility: hidden;
			height: 100%;
			top: 0;
			margin: 0;
			padding: 0;
			
			&.visible {
				visibility: visible;
			}
			
			svg {
				width: 1px;
				height: 100%;
				fill: @dark-gray;
				fill-opacity: 0.4;
				
				* {
					vector-effect: non-scaling-stroke;
				}
			}
			
			div.text {
				position: absolute;
				top: 100%;
				left: 0;
				background-color: @dark-gray;
				color: white;
				margin: 0;
			}
		}
		
		div.data-point {
			position: absolute;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			visibility: hidden;
			
			&.visible {
				visibility: visible;
			}
			
			&>* {
				vertical-align: middle;
			}
			
			svg {
				position: absolute;
				left: 0%;
				top: 50%;
				width: 10px;
				height: 10px;
				fill: none;
				stroke-width: 5;
				transform: translate(-50%,-50%);
				-webkit-transform: translate(-50%,-50%);
				-moz-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
			}
			
			span.annotation {
				margin: 7px;
			}
		}
	}
}

div.easychart {
	
	div.axis {
		position:absolute;
		z-index: 1;
		
		svg {
			position: absolute;
			
			line {
				vector-effect: non-scaling-stroke;
				stroke: black;
				stroke-width: 1px;
			}
		}
		
		div.label {
			position: absolute;
		}
	}
	
	div.axis.x-axis {
		right: 0;
		bottom: 1px;
		height: @height-x-axis;
		width: @width-chart;
		
		svg {
			top: 0;
			left: 0;
			width: 100%;
			height: 20%;
		}
		
		div.label {
			top: 20%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
		}
	}
	
	div.axis.y-axis {
		left: 1px;
		top: 0;
		height: @height-chart;
		width: @width-y-axis;
		
		svg {
			top: 0;
			right: 0;
			height: 100%;
			width: 20%;
		}
		
		div.label {
			right: 20%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
		}
	}
}